.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
AvNori/nori-front/node_modules
voca/node_modules
vanilla-redux/node_modules
vanilla-redux/dist
vanilla-redux/.cache
react-redux-tutorial/node_modules
redux/without/.cache
redux/without/dist